<h2>Search Products</h2>
<form class="" action="/search" method="get">
<label for="search-term-input"></label>
<input id="search-term-input" name="productSearchTerm" type="search">
<button>Search</button>
</form>

<a href="/products/expensive">Most exprensive items</a>
<a href="/products/value">Best Value Items</a>

<% if (typeof products !=='undefined') {%>
  <h2>results</h2>

<% products.forEach((oneProduct)=>{ %>
<li>
<h3><%= oneProduct.name%></h3>
<p>price:<%= oneProduct.price%></p>
<a href="/product/<%= oneProduct._id%>">View details</a>
</li>

<% }); %>
<%} %>
